
* { box-sizing: border-box;}  

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}


    /* HEADER */
    header {
        background-color: #51b3c3;
        color: #FFF;
        padding: 0.1px;
        display: inline-flex;
        flex-flow: row nowrap;
        width: 100%;
        text-align: right;
    }
        header img {
          height:100px;
          }
        header h1 {
        font-family: 'Asap Condensed', sans-serif;
        font-style: italic;
        font-size: 2em;
        margin: 0 10px 0 0;
    }
body a {
    text-decoration: none;
}
header .subheading {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 0%;
    font-size: .8em;
    text-align: right;
}

    /* NAVIGATION */
nav  {
        background-color: #198fbd;
        font-family: 'Open Sans', sans-serif;
          text-align: center;
    }
nav button {
    margin: .7rem;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
nav ul li a {
    display: flex;
    flex-flow: row wrap;
    padding: .8rem 5%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {background-color: #E2D8C7; color: #000;}
nav ul li.active a {background-color: #D1ECFF; color: #000;}
nav ul.hide {display: none;}

/* MAIN */
main figure {
    margin: 0;
}
main div#callToAction h2 {
    font-family: 'Asap Condensed', sans-serif;
    font-style: italic;
    color: #EA2309;
    position: absolute;
    margin-top: 11vw;
    margin-left: 9vw;
    font-size: 4.5vw;
}
main div#callToAction h2.h2Contrast {
    color: #fff;
}
div.blackBox {
    position: absolute;
    background-color: #000;
    padding: .6vw 2vw;
    margin-top: 23vw;
    margin-left: 9vw;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
.blackBox a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
div.whiteBox {
    position: absolute;
    background-color: #fff;
    padding: .6vw 2vw;
    margin-top: 23vw;
    margin-left: 19vw;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
.whiteBox a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
div.intro {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 9vw;
    font-size: 1.3rem;
    line-height: 2rem;
}

div.threeGallery {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 5%;
}
div.threeGallery img {
    width: 100%;
}
div.threeGallery a {
    text-decoration: none;
    margin: 10px;
    box-shadow: 0px 0px 15px .2px #E5E5E5;
}
div h5 {
    background-color: #000;
    color: #fff;
    font-family: 'Asap condensed', sans-serif;
    font-style: italic;
    font-size: 2.3rem;
    margin: 0;
    padding: 25px;
    text-align: center;
}
div.threeGallery p {
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.7rem;
    background-color: #E2D8C7;
    margin: 0;
}
div.threeGallery p.price {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}
div.threeGallery figure {
    box-shadow: 0px 0px 15px .2px #E5E5E5;
    margin-bottom: 20px;
    background-color: #E2D8C7;
}

h3 {
    text-align: center;
    color: #EA2309;
    margin-top: 0;
}
aside {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 5%;
}
 aside article {
    box-shadow: 0px 0px 15px 5px #E5E5E5;
    padding: 0px;
    margin-bottom: 20px;
}
article h5 {
    background-color: #000000;
    color: #fff;
    font-family: 'Asap condensed', sans-serif;
    font-style: italic;
    font-size: 2.3rem;
    margin: 0;
    padding: 25px 25px 5px 25px;
    text-align: center;
}
h6 {
    font-family: 'Open sans', sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 3px 25px;
    font-size: 1.2rem;
    text-align: center;
}
h6:last-of-type {
    padding-bottom: 25px;
}
article ul {
    font-family: 'Open-sans', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    padding: 25px;
    line-height: 1.3rem;
}
article ul li {
    padding: 10px 0;

}
article:hover {
    background-color: #E2D8C7;
}
article p {
    font-family: 'Open sans', sans-serif;
    padding-left: 15px;
    font-size: 1rem;
}

section.event {
    background-color: #D1ECFF;
    padding: 10px;
}
.event h2 {
    font-family: 'Asap condensed', sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
}
.event p {
    font-family: 'Open Sans', sans-serif;
    margin: 0 9% 2% 9%;
    font-size: 1.3rem;
    line-height: 2rem;
}
.event span {
    font-weight: bold;
}
h3 {
    font-family: 'Asap condensed', sans-serif;
    font-style: italic;
    margin: 20px;
    padding: 20px 0 0 0;
    font-size: 2.5rem;
}
.thanks {
    padding: 5%;
    text-align: center;
}
.thanks img {
    margin: 5%;
    width: 50%;
}
form#userReport {
    padding: 0 9% 30px;
}
fieldset {
    border-radius: .3em;
    margin: 1.1em 0;
    border: #a99f7836 solid 5px;
}
legend {
    font-family: "Open sans", sans-serif;
    font-size: 1.2em;
    color: #fff;
    padding: .5em;
    border: #000 solid 1px;
    background-color: #000;
    border-radius: .3em;
}
label {
    display: block;
    margin: .5em;
    font-family: 'Open sans', sans-serif;
}
label span {
    font-family: "Open Sans", sans-serif;
    display: block;
    font-size: 1.2em;
    color: #000;
    padding-top: .9em;
    padding-bottom: .2em;
}
input.submitBtn {
    -webkit-appearance: none; 
    display: block;
    color: #fff;
    border: solid 1px #3a1713;
    border-radius: 6px;
    margin: .5em 0;
    font-size: 1em;
    padding: .4em;
    background: #350e0982;
    font-family: "Open sans", sans-serif;
    font-size: 1.5em; 
    box-shadow: 4px 4px 10px #000;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #EA2309;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label span.answer {
    padding-top: .2em;
    font-size: .8em;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

label input {
    background-color: #E6EBED;
    color: #000;
    padding: .3em .3em .3em 2em;
    border: solid 1px #000;
    border-radius: 5px;
    font-size: 1.2em;
    width: 90%;
    max-width: 500px;
    background-image: url(../images/ico_validation.png);
    background-repeat: no-repeat;
    background-position: 4px -11px;
}
label #rating {
    max-width: 200px;
}


input:focus {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;
}

input:required {
    background-position: 4px -61px; 
}

input:focus:invalid {
    background-position: 4px -111px; 
}

input:required:valid {
    background-color: #fff;
    background-position: 4px -161px; 
}

#slideshow {
    position: relative;
    width: 100%;
    height: 33vw;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
    position: absolute;
}
#accordion p {
    font-family: 'Open sans', sans-serif;
    margin: 0 9%;
    font-size: 1.3rem;
    line-height: 1.5em;
}
#accordion img {
    width: 100%;
}
.price {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 10px;
}


.logo2 {
    background-color: #d1ecff;
    text-align: center;
    padding: 75px;
}
.logo2 img {
    max-height: 150px;
}

table {
    background-color: #E2D8C7;
    margin: 30px 9%;
    padding: 25px;
    white-space: nowrap;
    overflow: hidden;
}
thead {
    text-align: left;
}
.title {
    font-family: 'Asap condensed', sans-serif;
    font-style: italic;
    font-size: 3rem;
    border-bottom: 5px solid #000;
    padding: 10px;
}
.address {
    font-family: 'Open sans', sans-serif;
    font-size: 1.4rem;
    padding: 10px;
}
.phone {
    font-family: 'Open sans', sans-serif;
    font-size: 1.4rem;
    color: #EA2309;
    padding: 10px;
}
td {
    font-family: 'Open sans', sans-serif;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

#googleMap {
    width: 100%;
    height: 445px;
}


.customersTalk {
    display: none;
}


p>a {
    color: #000;
}
#reference a {
    display: inline-block;
    color: #000;
    font-size: .8rem;
}


video {
    width: 100%;
}


footer {
    background-color: #b7a078;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding: 5%;
  }
  
  footer aside {
    background-color: rgb(122, 122, 153);
  border: 2px solid #D1D1D1;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 30px 30px 100px 30px;
  }
  
  footer aside p {
    padding-bottom: 5px;
    margin: 0;
  }
  
  p.footer-bar {
    padding: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: .7rem;
    text-align: center;
    margin: 0;
    line-height: 2px;
  }
  iframe{
    width: 650px;
    height: 450px; 
  }
  